<%= form_for Comment.new, url: project_comments_path(I18n.locale, [@project, Comment.new]), remote: :true do |f| %>
  <div class="col-md-12" data-turbolinks-temporary>
    <div class="col-md-12">
    <div class="comment-from">
      </hr>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :name, value: current_user.name %>
      </br>
      <%= f.text_area :content, placeholder: t("comment_content"), class: "form-control",
        id: "content"%>
      <%= f.hidden_field :project_id, value: @project.id %>
    </div>
    </div>
  </div>
<% end %>
